#contact {
  text-align: center;
  padding: 50px;
  background: linear-gradient(to bottom, #b5ddff, #edf7ff);
  color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.body-contact {
  padding-bottom: 90px;
  width: 60%;
  padding: 10px 50px;
  border-radius: 10px;
  border: 2px solid black;
  background-color: white;
}

.mb-3{
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

