.body-contact {
  width: 60%;
  padding: 10px 50px;
  border-radius: 10px;
  border: 2px solid black;
  background-color: white;
}

.mb-3{
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

@media (max-width: 1024px){
  .body-contact{
    width: 70%;
  }
}

@media (max-width: 768px){
  .body-contact{
    width: 80%;
  }
}
@media (max-width: 425px){
  .body-contact{
    width: 95%;
  }
}