* {
  margin: 0;
  padding: 0;
}
section {
  text-align: center;
  padding: 50px;
  background: linear-gradient(to bottom, #b5ddff, #edf7ff);
  color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2.5em;
  margin-top: 90px;
  font-family: "Roboto Slab", serif;
}

h2 {
  font-size: 1.8em;
  margin-bottom: 15px;
  font-family: "Roboto Slab", serif;
}

p {
  font-size: 1.1em;
  line-height: 1.5;
  margin-bottom: 20px;
  font-family: "Noto Sans", sans-serif;
}

/* buttons */

/* button projects */
.button-project {
  width: 200px;
  height: auto;
  float: left;
  transition: 0.5s linear;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 15px;
  text-align: center;
  margin: 30px 5px;
  background: #1e83ff;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 22px;
  border: 0;
  color: white;
}

.button-project:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(100%);
}

.button-project:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(-100%);
}

.button-project:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.button-project:hover:before {
  border-color: #262626;
  height: 100%;
  transform: translateX(0);
  transition: 0.3s transform linear, 0.3s height linear 0.3s;
}

.button-project:hover:after {
  border-color: #262626;
  height: 100%;
  transform: translateX(0);
  transition: 0.3s transform linear, 0.3s height linear 0.5s;
}


@media (max-width: 768px) {
  section {
    padding: 10px;
  }
}