.nav-bar-principal {
  background-color: #0661ff;
}

.contenedor-nav {
  max-width: 100%;
  padding: 0 50px;
  font-family: 'Roboto Slab', serif;
}

.nav-bar-personalizado {
  display: flex;
  justify-content: flex-end;
}


@media (max-width: 768px) {
  .contenedor-nav {
    padding: 0;
  }
}
@media (max-width: 375px){
  .title{
    font-size: 1.3rem;
    margin: 0;
  }
}
