/* Projects */

.body-section-projects {
  width: 80%;
  display: flex;
  flex-direction: column;
}

/* Project */

.contenedor-project {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 10px;
  border-radius: 8px;
}

.img-project {
  max-width: 800px; /* Ajusta el ancho máximo según tus preferencias */
  border-radius: 8px;
  margin-bottom: 10px;
  border: 2px solid black;
}

.body-contenedor-project {
  margin: 20px;
  text-align: center;
}

.description {
  font-size: 1.1em;
  margin-bottom: 10px;
}

.links-project {
  display: flex;
  justify-content: center;
}

.iconos {
  width: 30px;
  height: 30px;
  margin: 0 10px; /* Ajusta el margen entre íconos según tus preferencias */
}

/* Otros estilos según tus necesidades */

@media (max-width: 1500px) {
  .body-section-projects {
    width: 100%;
  }
  .contenedor-project {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 900px) {
  .img-project {
    width: 100%;
  }
}

